/*CSS DOCUMENT*/

img {
    width: 100%; 
}

img.logo {
    margin-left: 0.5em;
    width: 75%; 
}

body{
    background-color: #FAFAFA;
}

ul{
    list-style-type: none;
}
nav ul{
    background-color: #E5890A;
    padding: 1em;
    margin: 0; 
}
nav ul li{
    display: inline;
    text-transform: uppercase; 
    padding: 1em;
    
}
nav ul li a{
    text-decoration: none;
    font-family: obliqua, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FAFAFA;
    
}
h2{
    font-family: quiche-sans, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #9D5C0D; 
    margin: 1em 0em 0em 1em; 
    text-transform: uppercase;

}

h3{
    margin-left: 1em;
    font-family: quiche-sans, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #E5890A; 
    text-transform: uppercase;

}
h4{
    font-family: obliqua, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #9D5C0D; 
    margin: 1em 0em 0em 0em;

}
p {
    font-family: obliqua, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin:0.5em 1.5em;


}

p.footer{
    color: #FAFAFA;
}

address {
    font-family: obliqua, sans-serif;
    font-weight: 400;
    font-style: oblique;
    padding: 0em 1.5em 0em 1.5em;
    }
figure{
    margin: 1em 0em;
}

footer{
    padding: 0.25em;
    margin-top: 1.5em;
    background-color: #E5890A;
}
/*Please don’t change this CSS stylesheet for the content hierarchy assginment */