/*CSS document*/

body {
    background-color: #F5E7DE;
    font-family: interstate, sans-serif;
    margin: 1em;
}

p {
    font-weight: 400;
    font-style: normal;
    color: #323230;
    margin: 0.5em 0 0.5em 0;  
}

figcaption{
    font-weight: 400;
    font-style: italic;
    margin-top: 0.5em;
    color: #323230;
}

h1 {
    max-width: 20em;
}

h2, h3 {
    font-family: interstate-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #4281A4;
    margin: 0;  
}

div.container {
    max-width: 80em;
    margin: auto;
}

div.listitem {
    margin: 1.5em 0 1.5em 0;
}

figure {
    margin: 1em 1em 1em 0; 
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    background-color: #4281A4;
    padding: 1em;
}

nav ul li {
    display: inline;
    padding: 15px;
    font-family: interstate-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}

li a {
    color: #F5E7DE; 
}

a {
    text-decoration: none;
}

footer p {
    margin-top: 2em;
    font-weight: 200; 
}

section.tertiary{
    border-bottom: 1px solid #54311A;
    padding: 1.5em 1.5em 1.5em 0;
}

@media screen and (min-width: 60em){
    div.container {
        display: grid;
        grid-template-columns: 3fr 1fr; 
        grid-gap: 0 1em;
    }
    
    header {
        grid-column: 1/3; 
    }
    
    main {
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 1em;
    }

    
    article {
        grid-column: 1/2;
    }
    
    aside {
       grid-column: 2/3; 
    }
    
    section.main {
        grid-column: 2/4;
        grid-row: 1/3; 
        display: flex;
        flex-direction: column;
    }
    
    section.main figure {
        flex: 1 0 18em;
        display: flex;
        flex-direction: column;
    }

    
    section.main figure div {
        flex: 1 0 18em;
        background-image: url(goldengate1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; 
    }
    
    section.main figure div img {
        height: 100%;
        opacity: 0; 
    }
    
    section.main h3 {
        flex: 0  0 auto; 
        margin: 0; 
    }
    
    footer {
        grid-column: 1/4;
    }
}